body {
	background-color: rgb(104,187,285);
}

#header {
	background-color: rgb(59,89,152);
	border: 3px red;
}

#container {
	display: flex;
	background-color: rgb(59,89,152);
	width: 50%;
	border: 3px red;

}

#left-box {
	display: flex;
	flex-direction: column;
	background-color: rgb(9,30,45);
	color: white;
	border: 3px red;
}

.imageflottante {
	float: left;
	margin: auto;
}

.dessous {
	clear: both;
	margin-top: 50px;
}

#right-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: rgb(9,30,45);
	width: 50%;
}

#experiences-box {
	background-color: white;
}

#studies-box {
	background-color: white;
}

#footer {
	background-color: rgb(59,89,152);
	color: white;
	font-style: italic;
}